/* bg_in */

header {} .bg_in {
    width: 1170px;
    margin: 0 auto;
}
header .bg_in {
    position: relative;
}
header .logo {
    width: 25%;
    float: left;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* content_page */
.content_page {
    padding: 0 0 20px 0;
}

/* cart_page */
.content_page.cart_page {
    margin-top: 15px;
}

/* breadcrumbs */
.breadcrumbs {
    margin-bottom: 5px;
}
.breadcrumbs ol li {
    padding-right: 15px;
    position: relative;
    padding: 5px;
    display: inline-block;
}
.breadcrumbs ol li:after {
    position: absolute;
    top: 8px;
    right: 2px;
    content: "/";
}
.breadcrumbs ol li:last-child span {
    color: #BD002A;
}
.breadcrumbs ol li:last-child:after {
    display: none;
}

/* box-title */
.box-title {
    text-align: left;
}
.box-title .title-bar {
    position: relative;
    margin-bottom: 10px;
    border-bottom: 1px solid #ffd500;
}
.box-title h3 {
    font-size: 18px;
    color: #ffbf00;
    text-transform: uppercase;
}

/* title-bar */
.title-bar h3 {
    padding: 6px 10px;
    background: #ffbf00;
    color: #fff;
    position: relative;
}

/* content_text */
.content_text {
    min-height: 350px;
    padding: 5px 0 5px 0;
    line-height: 2em;
}

/* container_table */
.container_table {
    border-radius: 3px;
    overflow: hidden;
}

/* table */
.table {
    display: table;
    border-collapse: collapse;
    width: 100%;
    font-size: 13px;
    margin-bottom: 20px;
}

/* table-hover */
.table-hover tbody tr:hover {
    background-color: #f5f5f5;
}

/* table-condensed */
.table-condensed td {
    padding: 5px;
}

/* tr */
tr {
    background: #fff;
}

/* tr_first */
.tr_first {
    background: #eee;
    color: #333;
}
.tr_first > th {
    padding: 10px 0px;
    text-align: center;
    font-size: 14px;
    font-style: italic;
}

/* col_table_image */
.col_table_image {
    width: 100px;
    margin: 0 auto;
}

/* col_table_hidden-xs */
.col_table_hidden-xs {
    display: none;
}

/* img-responsive */
.img-responsive {
    max-width: 100%;
    height: auto;
}

/* col_table_name */
.col_table_name {
    padding: 0px 10px;
}

/* nomargin */
.nomargin {
    margin: 0;
}

/* color_red */
.color_red {
    color: red;
}

/* font_money */
.font_money {
    font-size: 16px;
    font-weight: bold;
}

/* inputsoluong */
.inputsoluong {
    border: 1px solid #D4D2D2;
    text-align: center;
}

/* clear */
.clear {
    clear: both;
}

/* margintop5 */
.margintop5 {
    margin-top: 5px;
}

/* floatleft */
.floatleft {
    float: left;
}

/* width50 */
.width50 {
    width: 50%;
}

/* btn_df */
.btn_df {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    background-color: #333;
    color: #fff;
    border: 1px solid transparent;
}

/* btn_table_td_rf_del */
.btn_table_td_rf_del {
    background-color: #A7A6A6;
    box-shadow: 3px 3px 0px #dcdcdc;
}

/* btn-sm */
.btn-sm {
    padding: 3px 10px;
    font-size: 12px;
}

/* text_center */
.text_center {
    text-align: center;
}

/* actions */
.actions {
    display: flex;
    justify-content: space-between;
}

/* aligncenter */
.aligncenter {
    text-align: center;
}

/* display_mobile */
.display_mobile {
    display: none;
}

/* textright_text */
.textright_text {
    text-align: right;
    font-size: 18px;
    color: #333;
}

/* sum_price_all */
.sum_price_all {
    padding: 10px 0;
    font-size: 16px;
}

/* text_price */
.text_price {
    font-weight: bold;
}

/* tr_last */
.tr_last {
    background-color: #EEEEEE;
}

/* btn_table */
.btn_table {
    color: #fff;
    background-color: #333;
    border-color: #333;
}

/* contact_form */
.contact_form {
    font-family: "arial";
}

/* contact_left */
.contact_left {
    width: 45%;
    float: left;
}

/* ch-contacts-details */
.ch-contacts-details {
    background: #fff;
    padding: 0 0 30px 0;
}

/* contact-list */
.contact-list {
    font-size: 17px;
    line-height: 24px;
    color: #5a6063;
}

/* addr */
.addr {
    font-size: 14px;
    color: #333;
}

/* title */
.title {
    font-size: 25px;
    font-weight: bold;
}

/* hiring-box */
.hiring-box {
    font-size: 14px;
    line-height: 24px;
    color: #5a6063;
}

/* arrow-link */
.arrow-link {
    font-size: 14px;
    color: #009ddc;
    text-transform: uppercase;
}

/* contact_right */
.contact_right {
    width: 55%;
    float: left;
}

/* form_contact_in */
.form_contact_in {
    width: 100%;
}

/* box_contact */
.box_contact {
    width: 100%;
}

/* content-box_contact */
.content-box_contact {
    width: 100%;
    margin: 0 auto;
}

/* row */
.row {
    width: 100%;
    margin-top: 5px;
}

/* input */
.input {
    width: 100%;
}

/* clsip */
.clsip {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
}

/* clsipa */
.clsipa {
    min-height: 150px;
}

/* btnclass */
.btnclass {
    margin: 0px;
}

/* ipmaxn */
.ipmaxn {
    width: 100%;
    text-align: left;
}

/* btn-gui */
.btn-gui {
    border: 0px;
    padding: 3px 30px;
    background: #8A0000;
    font-size: 13px;
    color: #fff;
    cursor: pointer;
}